body{
    background : black; 
}
h1{
    font-size: 40px;
    text-indent: 15px;
    color : white;
    padding: 5px;
}

.estrelasInput{
    width: 60px;

}

.nomeInputs{
    width : 136px;
}

.inputs{
    background: white;
}

.divForm1{
    background-color: rgb(206, 206, 206);
    border : 2px white solid;
    padding : 14px;
    margin : 15px;
}

.textoAval{
    margin-top: 5px;
    border-top: 5px;
}


.divForm2{
    background-color: rgb(206, 206, 206);
    border : 2px white solid;
    padding : 14px;
    margin : 15px;
    height : 400px;
}

button{

    background: rgb(255, 115, 0);
    color: white;
    border: none;
}

.bottom{

    bottom: 30px;
    left: 10px;
    right: 10px;
}