body{
    background-color: black;
    text-align: center;
}

div{
    position: relative;
}

#firstImg{
    margin-top: 100px;
}

input{
    background-color: rgb(253, 118, 8);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 179px;
    border: none;
    margin-top: 10px;

}

.fa-user{
    position: absolute;
    top: 346px ;
    z-index: 1;
}

.fa-lock{
    position: absolute;
    top: 380px;
    z-index: 1;
}

button{
    margin-top: 20px;
    width: 100px;
    background-color: rgb(253,118,8);
    border: none;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

::placeholder{
    color: white;
}

button:hover{
    color: black;
}

#one{
    color: salmon;
}

#secondLock{
    position: absolute;
    top: 415px;
    z-index: 1;
}

.fa-sort-numeric-down{
    position: absolute;
    top: 450px;
    z-index: 1;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p{
    color: white;
}