
body{
    /* overflow: hidden; */
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left { 
    left: 0;
    background-color: black;
    width: 25%;
}


/* Control the right side */
.right {
    right: 0;
    width: 75%;
    border: 10px black solid;

}


/* Style the image inside the centered container, if needed */
#logo {
    margin-top: 30px;
    width: 80%;
}

button{

    background: black;
    color: white;
    border: none;
    margin: 10px 10px 10px 10px;
}

button:hover{
    color: rgb(253, 118, 8);
}

.centered{
    text-align: center;
}

.bottom{
    position: absolute;
    bottom: 30px;
    padding: 10px 10px 10px 10px
}