
body{
    overflow: hidden;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: black;
    width: 25%;
}

.right {
    background-color: white;
    right: 0;
    width: 75%;
    border: 10px black solid;
}

.logo {
    margin-top: 30px;
    width: 80%;
}


.centered{
    text-align: center;
}

.bottom{
    position: absolute;
    bottom: -300px;
    left: 10px;
    right: 10px;
}

#braga{
    width: 95%;
}

