.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left { 
    left: 0;
    background-color: black;
    width: 30%;
    color: white;
}

/* Control the right side */
.right {
    right: 0;
    width: 65%;
    background-color: white;
    border: 10px black solid;
    padding: 20px;

}

.centered{
    text-align: center;
}

.fa-user{
    color: rgb(253, 118, 8);
}

button{
    margin-top: 15px;
    width: 150px;
    background-color: rgb(253,118,8);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}

button:hover{
    color: black;
}

.input-box{
    width:50px
}

.goBack{
    position: absolute;
    right: 10%;
    top: 5%;
}

body{
    background-color: black;
}